<html>
  <head>

    <style>
        body {
            background: <%= bgcolour %>;
        }
    </style>
    
  </head>

  <body>

    <p> <%= msg %> </p>
    <p> Guess a number: </p>
    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>
    
    <p> Tries left: <%= triesleft %> </p>

    <% if cheat == 'true' %>
      <p> The number is <%= number%> </p>
    <% end%>
  </body>
</html>