<html>
  <head>

    <style>
        body {
            background: <%= bgcolour %>;
        }
    </style>
    
  </head>

  <body>

    <p> <%= msg %> </p>

    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>

  </body>
</html>